@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../assets/fonts/CerebriSans-Light.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/CerebriSans-Regular.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/CerebriSans-Medium.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../assets/fonts/CerebriSans-SemiBold.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: 'Cerebri Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/CerebriSans-Bold.woff2) format(woff2);
  }

  body {
    @apply bg-neutral-100 font-cerebri font-light text-neutral-700;
  }
  
  .prose p {
    padding: 0 0 1rem;
  }
  
  .prose p:last-child {
    padding: 0 0 0;
  }
}