@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Cerebri Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/CerebriSans-Light.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: "Cerebri Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/CerebriSans-Regular.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: "Cerebri Sans";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/CerebriSans-Medium.woff2) format(woff2);
  }

  @font-face {
    font-display: swap;
    font-family: "Cerebri Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/CerebriSans-Bold.woff2) format(woff2);
  }

  body {
    @apply bg-neutral-50/50 font-cerebri font-light overscroll-x-none text-neutral-700;
  }

  input[type="search"] {
    appearance: none;
    -webkit-appearance: none;
  }

  @media (min-width: 1024px) {
    html {
      font-size: 18px;
    }
  }
}
